<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>Your deck.js Presentation</title>

  <!-- Required stylesheet -->
  <link rel="stylesheet" media="screen" href="core/deck.core.css">

  <!-- Extension CSS files go here. Remove or add as needed. -->
  <link rel="stylesheet" media="screen" href="extensions/goto/deck.goto.css">
  <link rel="stylesheet" media="screen" href="extensions/menu/deck.menu.css">
  <link rel="stylesheet" media="screen" href="extensions/navigation/deck.navigation.css">
  <link rel="stylesheet" media="screen" href="extensions/status/deck.status.css">
  <link rel="stylesheet" media="screen" href="extensions/scale/deck.scale.css">

  <!-- Style theme. More available in /themes/style/ or create your own. -->
  <link rel="stylesheet" media="screen" href="themes/style/ibm-white.css">

  <!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <link rel="stylesheet" media="screen" href="themes/transition/horizontal-slide.css">

  <!-- Basic black and white print styles -->
  <link rel="stylesheet" media="print" href="core/print.css">

  <!-- Required Modernizr file -->
  <script src="modernizr.custom.js"></script>
</head>
<body>
  <div class="deck-container">

    <!-- Begin slides. Just make elements with a class of slide. -->

    <section class="slide front">
      <h1>Presentation Template<br>2013 Full Version</h1>
      <div class="watermark">ACE</div>
    </section>

    <section class="slide">
      <h2>Selecting a template</h1>
      <ul>
        <li>There are two versions of each template: a white background format and a black background format</li>
        <li>While either may be used for any audience, the white is intended for print-based presentations, as it requires less ink per page and it allows for notes to be written on the white pages</li>
        <li>For large audiences viewing the presentation from a distance, the black background can improve the legibility of the page content</li>
      </ul>
    </section>

    <section class="slide">
      <h2>Table of contents/Agenda template</h1>
      <ul>
        <li class="selected">Content heading 1</li>
        <li>Content heading 2</li>
        <li>Content heading 3</li>
        <li>Content heading 4</li>
      </ul>
      <div class="hidden">
        <p>Note that the contents/agenda items are written in <strong>sentence case</strong></p>
        <p>Title the page “Table of contents” if the document is meant to be read or is a “leave behind.”  Use “Agenda” if the document will be presented formally</p>
        <p>This page should appear at the beginning of each section, with the highlighted section appearing in blue and bold</p>
      </div>
    </section>

    <section class="slide">
      <h2>There are five simple rules for creating impactful PowerPoint documents</h1>
      <ul>
        <li>Keep it simple, keep it clean, crisp, and clear</li>
        <li>Make the title into an ‘Action title’: an active sentence that reveals an insight or suggests an action; it should never just be a description of the content</li>
        <li>Do not use slides as an auto-cue</li>
        <li>Be consistent with layouts, type sizes and diagrams</li>
        <li>Do use, but do not always trust the “spell check” and review your presentation carefully
          <ul>
            <li>Spell check can miss words out of context (e.g. from/form)</li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="slide">
      <h2>Title, 22 point Arial - IBM blue; it should never exceed two lines of text</h1>
      <ul>
        <li>The title should not be resized or moved</li>
        <li>The title should always use lower case, other than the first letter</li>
        <li>It should not have more than two lines
          <ul>
            <li>When a title is two lines long, choose a division that is grammatically logical and aesthetically pleasing
              <ul>
                <li>Ideally, the top line should be moderately longer than the lower line</li>
                <li>Avoid dividing articles from nouns, prepositions from prepositional phrases, verbs from nouns, etc.</li>
              </ul>
            </li>
          </ul>
        <li>The text above the title is called the “running header,” Arial 10pt. Regular
          <ul>
            <li>This text is typically used as chapter titles, which makes it easy for the audience to follow where you are in the presentation</li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="slide">
      <h2>The bullets on the page should be clear and concise</h2>
      <ul>
        <img class="right" src="../line-spacing.png" alt="Line Spacing">
        <li>Use the “Tab” key (or increase indent button) to obtain the proper indents and bullets</li>
        <li>Use 16 point Arial body text as the minimum type size</li>
        <li>The line spacing (see illustration) has been carefully chosen to introduce a balance between text and white space (1 Lines for line spacing, .5 Lines before paragraph spacing) and should be checked for consistency
          <ul>
            <li>If you use indents (like this), please set paragraph spacing to 0 for the indented text by using Format > Line spacing… </li>
          </ul>
        </li>
        <li>On a white background, bulleted body text should appear in black and should be set in upper and lower case</li>
        <li>Where required you can use indents as follows
          <ul>
            <li>Second level
              <ul>
                <li>Third level</li>
                <li>All bullets are black</li>
                <li>Do not go beyond three levels of indent</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="slide">
      <h2>This template is set to US English throughout</h2>
      <ul>
        <li>To change the language settings:
          <ul>
            <li>Make sure you are in normal view – View > Normal (from the command menu)</li>
            <li>Click anywhere in the text box</li>
            <li>Then select everything by using Edit > Select All or Ctrl A</li>
            <li>The language can now be set to your local language by using Tools > Language…, and selecting the language you require from the available languages</li>
          </ul>
        </li>
        <li>To create a local language version of this template, also set the language on the Slide Master, Title Master, Notes Master and Handout Master and save the file as a Document Template
          <ul>
            <li>To make it appear as a standard template, save it to the location of your MS Office templates. This location varies according to the version of Windows used</li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="slide">
      <h2>Footers</h2>
      <ul>
        <img class="right" src="../header-footer.png" alt="Header and Footer">
        <li>Footers can be used if necessary for dates, confidential material, etc.</li>
        <li>The Footer text has the standard form &lt;date&gt; and &lt;footer&gt;</li>
        <li>The contents of the fields &lt;date&gt; and &lt;footer&gt; can be set using the View > Header and Footer command</li>
        <li>There are four fixed elements on each page which should not be changed
          <ul>
            <li>IBM Logo</li>
            <li>Horizontal rule</li>
            <li>Page number location</li>
            <li>IBM copyright statement</li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="slide">
      <h2>Basic alignment</h2>
      <ul>
        <li>This template has the Snap Objects to Grid on as a default</li>
        <li>Select snap objects to grid to align objects</li>
        <li>Set to 0.1 inches or 0.254 cm</li>
        <li>Use drawing guides to help align if needed</li>
      </ul>
      <img class="bottom" src="../grid-guides.png" alt="Grid and Guides">
    </section>

    <section class="slide">
      <h2>Color palette</h2>
      <ul>
        <li>A color palette has been selected and keyed to basic elements such as Action title type in blue and basic text in black</li>
        <li><a class="unvisited" href="#">Hyperlinks</a> have been keyed to blue 3. <a class="visited" href="#">Visited hyperlinks</a> have been keyed to purple 1</li>
        <li>Colors should be limited so that our presentations match consistently</li>
        <li>The color palette has been built into the templates (numbers below refer to RGB values)</li>
      </ul>
      <img class="bottom" src="../color-palette.png" alt="Color Palette">
    </section>

    <section class="slide">
      <h2>For access to additional guidance</h2>
      <ul>
        <img class="right" src="../brand-center.png" alt="IBM Brand System Center">
        <li>Additional IBM Brand and design guidance is available on the IBM Brand System Center at <a href="ibm.com/brand" target="_blank">ibm.com/brand</a></li>
        <li>Use IBM ID to log in.</li>
        <li>Can use intranet password if IBM and intranet IDs are linked. To link IDs go to <a href="https://w3-03.sso.ibm.com/tools/cso/user_federations.jsp" target="_blank">here</a></li>
        <li>For help, email <a href="mailto:brandsys@us.ibm.com">brandsys@us.ibm.com</a></li>
      </ul>
    </section>

    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p class="deck-status" aria-role="status">
      <span class="deck-status-current"></span>
      /
      <span class="deck-status-total"></span>
    </p>

    <!-- deck.goto snippet -->
    <form action="." method="get" class="goto-form">
      <label for="goto-slide">Go to slide:</label>
      <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
      <datalist id="goto-datalist"></datalist>
      <input type="submit" value="Go">
    </form>

    <!-- End extension snippets. -->
  </div>

<!-- Required JS files. -->
<script src="jquery.min.js"></script>
<script src="core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="extensions/menu/deck.menu.js"></script>
<script src="extensions/goto/deck.goto.js"></script>
<script src="extensions/status/deck.status.js"></script>
<script src="extensions/navigation/deck.navigation.js"></script>
<script src="extensions/scale/deck.scale.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>
